body {background-color: #fcc; 
	color: #000000;
	font-family: georgia, "Times New Roman", serif;}

h1 {background-color: #630; 
	color: #ffffff;
	font-family: arial, verdana, sans-serif;
	text-align: center;  }
	
h2 {color: #336633;
	font-family: georgia, "Times New Roman", serif;}

#wrapper { margin-left: auto;
		margin-right: auto;
		width: 80%;}
nav {text-align: center;
	font-family: arial, verdana, sans-serif;
	font-weight: bold; }
	
#plant {background-image: url(plants.jpeg);
		background-repeat: no-repeat; 
		margin-left: auto;
		margin-right: auto;
		width: 640px;
		height: 480px;
		background-repeat; no-repeat;  }
